{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запись о настроении</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="{% static 'js/app.js' %}" defer></script> <!-- Подключаем ваш app.js -->
</head>
<body>
    <div id="app">
        <mood-entry></mood-entry> <!-- Добавляем компонент MoodEntry -->
    </div>
    <p>
      <a href="/" class="link">Вернуться на главную страницу</a>
    </p>
</body>
</html>
